@model Exam2.Models.Class2
@{
    ViewBag.Title = "NewPassword";
}

<h2>NewPassword</h2>

<style>
    .error {
        color: red
    }
</style>

<br>

@using (Html.BeginForm("NewPassword", "Home", FormMethod.Post))
{
    <div class="form-group">
        <label>Email</label>
        @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })

    </div>
    <div class="form-group">
        <label>NewPassword</label>
        @Html.TextBoxFor(m => m.Password, new { @class = "form-control" })

    </div>
    <br>
    <div class="form-group">
        <label>ConfirmPassword</label>
        @Html.TextBoxFor(m => m.NewPassword, new { @class = "form-control" })

    </div>
    <br>
    <button type="submit" class="btn btn-outlinr-primary">Submit</button>

}